########################################
# ROS 2 / colcon build artifacts
########################################
/build/
/install/
/log/

########################################
# Python caches & build outputs
########################################
__pycache__/
*.py[cod]
*$py.class
*.so
.eggs/
*.egg-info/
dist/
build/

########################################
# Virtual environments
########################################
.venv/
venv/
.env
.env.*

########################################
# Editors / OS files
########################################
.vscode/
.idea/
.DS_Store
